.shop-header{
    background-image: url("https://i.pinimg.com/originals/77/9a/a1/779aa1794e58f78587fb2d0ed0a5c001.jpg");
    background-size: cover;
    height: 700px;
    color: white;
}

.shop_stats{
    color: white;
}